*{margin: 0;
padding: 0;
box-sizing: border-box;
}
.contain{
  padding: 20px;
  width: 400px;
  height: 600px;
  background: rgba(0, 0, 255, 0.575)
  ;
}
.par{
  margin-top: 5px;
  height: 25px;
  background-color: white;
}
.par2{
  margin-top: 5px;
  height: 25px;

}

.flexx{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.buttons{
  width: 80px;
  height: 80px;
}